<!-- define.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une Nouvelle Définition</title>
    <style>
        /* Add any necessary styles here */
    </style>
</head>
<body>

<button onclick="location.href='{% url 'logout' %}'">Logout</button>

<div class="form-container">
    <h2>Add new definition</h2>
    <form action="{% url 'define' %}" method="post">
        {% csrf_token %}
        
        <label for="acronym">Acronym :</label>
        <input type="text" id="acronym" name="acronym" required>
        <br>

        <label for="definition">Definition :</label>
        <textarea id="definition" name="definition" rows="4" required></textarea>
        <br>

        <label for="source">Source :</label>
        <input type="text" id="source" name="source" required>
        <br>

        <label for="industry">Industry :</label>
        <select id="industry" name="industry" multiple required>
            <option value="pharma">Pharma</option>
            <option value="electrical engineering">Electrical Engineering</option>
            <option value="civil engineering">Civil Engineering</option>
            <option value="mechanical engineering">Mechanical Engineering</option>
            <!-- Add more industries as needed -->
        </select>
        <br>
        
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
