<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definition</title>
    <style>
        /* custom styles will be added here */
    </style>
</head>
<body>

<button onclick="location.href='{% url 'logout' %}'">Logout</button>

<h1>Notifications List</h1>

<ul>
    {% for notification_list in user.Notifications %}
        {% for notification in notification_list %}
            {% if not notification.read %}
            <li>
                <a href="{% url 'notification' %}?message={{ notification.message }}">
                {{ notification.message }}
                </a>
                <p>
                {{ notification.timestamp}}
                </p>
            </li>    
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
 

</body>
</html>