<!-- searchpage.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de Recherche - Thème Bleu</title>
    <style>
        /* Your existing styles */
        .result-message {
            margin-top: 20px;
            font-size: 1.2em;
            color: #333;
        }
    </style>
</head>
<body>

<!--button onclick="window.location.href='{% url 'logout' %}'">Logout</button-->
<button onclick="location.href='{% url 'logout' %}'">Logout</button>
<button onclick="location.href='{% url 'define' %}'">Add definition</button>
<button onclick="location.href='{% url 'users' %}'">Users</button>
<button onclick="location.href='{% url 'drafts' %}'">Pending definitions</button>
<button onclick="location.href='{% url 'notifications' %}'">Notifications</button>


<!--<button class="add-button" onclick="window.location.href='/add-page'">Add</button>-->

<div class="search-container">
    <form method="GET" action="{% url 'search' %}">
        <input type="text" id="searchInput" name="acronym" placeholder="Rechercher..." required>
        <button type="submit">Search</button>
    </form>
    
    <div class="results" id="resultsContainer">
        {% if definition %}
            <div class="result-message">
                <strong>Définition:</strong> {{ definition }}
            </div>
        {% elif message %}
            <div class="result-message">
                {{ message }}
            </div>
        {% endif %}
    </div>
</div>

</body>
</html>
