<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{languageFile.users.Users_List}}</title>
    <style>
        /* custom styles will be added here */
    </style>
</head>
<body>

<button onclick="location.href='{% url 'logout' %}'">{{languageFile.users.Logout}}</button>
<button onclick="location.href='{% url 'addUser' %}'">{{languageFile.users.Add_new_user}}</button>

<h1>{{languageFile.users.Users_List}}</h1>
<ul>
    {% for user in users %}
    <li><a href="{% url 'user' user.UserID %}">{{ user.UserName }}</a></li>
    {% endfor %}
</ul>

</body>
</html>
