<!-- define.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <style>
        /* Add any necessary styles here */
    </style>
</head>
<body>

<button onclick="location.href='{% url 'logout' %}'">Logout</button>
<button onclick="location.href='{% url 'addUser' %}'">Add new user</button>

<h1>Users List</h1>
<ul>
    {% for user in users %}
    <li><a href="{% url 'user' user.UserName %}">{{ user.UserName }}</a></li>
    {% endfor %}
</ul>

</body>
</html>
